<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Esto es el main</h1>

    {{#if listExist}}
        <ul>
            {{#each list}}
                <li class={{lane}}>{{name}} </li>
            {{/each}}
        </ul>
    {{/if}}

    {{> footer }}
</body>
</html>