<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <span></span> <!-- para inyectar el resultado -->
    <h1>Datos personales</h1>
    <ul>
        
    </ul>
  <!-- incluir handlebars desde el CDN -->
    <script >
        const template = Handlebars.compile(
            '<li>Nombre: {{nombre}}</li>'+
            '<li>{{apellido}}</li>'+
            ' <li>{{edad}}</li>'+ 
            ' <li>{{dni}}</li>'+ 
            ' <li>{{direccion}}</li>'+ 
            ' <li>{{telefono}}</li>'+ 
            ' <li>{{email}}</li>'            
        ); // compila la plantilla

        const html = template({ 
            nombre: 'coder',
            apellido: 'programmer',
            edad: '30',
            dni: '12345678',
            direccion: 'calle falsa 123',
            telefono: '12345678',
            email: 'f@gmail.com'

        }); // genera el html
        document.querySelector('ul').innerHTML = html; // inyecta el resultado en la vista
    </script>
</body>