{{!-- {{> lovedChamps}}
<br>
{{> hatedChamps}}
<br> --}}
<h2>List of my most suggested League champions</h2>
{{#if listExists}}
    <ul>
        {{#each suggestedChamps}}
            <li class={{this.lane}}>{{this.name}}</li>
        {{/each}}
    </ul>
{{/if}}